$widthPageA4: 210mm;
$heightPageA4: 297mm;

$widthContentA4: 190mm;
$heightContentA4: 277mm;

//For testing purposes
$backgroundBody: #353535;
$backgroundWrapper : #eaeaea;

//Couleurs
$backgroundColorWhite: #fff;
$couleurCFA: #243481;
$couleurLien : #0000EE;
$coulienLienVisite : #551A8B;

$colorTitleSection :#1D76E2;
$colorSubTitle: #333333;
$colorSubTitleTwo: #2b2b2b;
$colorMainText : #666666;

$margeSousSection : 7px;